<h1>Welcome Smith</h1>

<hr>
<p>Login here:</p>
<form method="POST" action="/login">
    <input type="text" name="user[name]" >
    <input type="password" name="user[password]">
    <input type="submit" >
</form>
</form>