<html>
	<head>
        <title>Camera</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="./camera.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        

	</head>
	
	<body>
        <div class="ui container">
                <video id="video" autoplay></video>
                <canvas id="canvas"></canvas>
                <i id="downloadIcon" class="arrow alternate circle down icon"></i>
        </div>

        <div id="controls">
            <div class=" container">
                <div class="butt"><i class="exchange icon"></i></div>
                <div class="butt"><i class="circle icon outline iconb"  onclick="captureImage()"></i></div>
                <div class="butt"><i class="whatsapp icon" onclick="camerachange()"></i></div>
            </div>
            
        </div>
		
		
		
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js" integrity="sha256-qs5p0BFSqSvrstBxPvex+zdyrzcyGdHNeNmAirO2zc0=" crossorigin="anonymous"></script>
        <script src="./camera.js"></script>
	</body>
</html>