<html>
	<head>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet">
	</head>
	
	<body>
		<div class="container">
			<h1>
				List of Projects
			</h1>

			<a href='/camera'>CameraAcc</a>
		</div>
	</body>
</html>