<html>
    <head>
        <title>Appie</title>
        <link rel="stylesheet" href="/css/circle.css">
        <script src="/js/paper-full.min.js" ></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.0/howler.js"></script>
        <script type="text/paperscript" src="/js/boom.js" canvas="myCanvas"></script>
    </head>
    <body>
        <canvas id="myCanvas" resize></canvas>

    </body>
</html>